/* Ropa Tailors atributos de la p-ágina principal html: Ropa_Tailors */
#body1{
    background-color: black;
}


#img_tailors {
    background: url(tailors_logo.PNG);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin:auto;
    /*position: fixed;
    left: 45%;*/
    
    /*border: 1px solid black;*/
}
#content {
    float: left;
    width: 100%;
    padding-left:
}


#sign {
    float: right;
    margin-right: 10px;
}

.licolor{
    background-color: darkgray;
}

#ulcolor {
    background-color: darkgray;
}


/* Camiseta */
#rowcamisa {
    margin-bottom: 140px;
}

#camisetaimg {
    /*border: white solid 1px;*/
    background: url(camisa.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    width: 35%;
    float: left;
    margin-top: 0px;
}

#camisetatext {
    /*border: white solid 1px;*/
    height: 600px;
    width: 63%;
    float: right;
    margin-top: 0px;
    background-color: #1E1E1E;
}
/* Abrigos */
#rowabrigos {
    margin-bottom: 40px;
}

#abrigosimg {
    /*border: white solid 1px;*/
    background: url(abrigos.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 50%;
    float: right;
}

#abrigostext {
    /*border: white solid 1px;*/
    height: 800px;
    width: 48%;
    float: left;
    background-color: #1E1E1E;
}

/* Mujer */
#rowmujer {
    margin-bottom: 60px;
}
#mujerimg {
    /*border: white solid 1px;*/
    background: url(mujer.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    width: 50%;
    float: left;
}

#mujertext {
    /*border: white solid 1px;*/
    height: 800px;
    width: 48%;
    float: right;
    background-color: #1E1E1E;
}
/* Cremallera */
#cremalleratext {
    /*border: white solid 1px;*/
    height: 1000px;
    width: 58%;
    float: left;
    background-color: #1E1E1E;
}

#cremalleraimg {
    /*border: white solid 1px;*/
    background: url(cremallera.PNG);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    width: 40%;
    float: right;
}

#tam {
    height: 200px;
}

p{
    text-align: center; 
    color: whitesmoke;
}

#top {
    margin-top: 60px;
    font-family: Homer Simpson UI;
    font-size: 30px;
}

